* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

.back {
    padding: 10px 0;
    background-color: rgb(29, 29, 95);
}

.menu {
    position: a;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    
}




button {
    background-color:cornflowerblue;
    padding:  5px 15px;
    color: white;
    border-radius: 20px;
}

.styled-table {
    margin-right:10px; 
    margin-left:30px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
    font-size: 1em;
    min-width: 300px;
}

.styled-table thead tr {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.styled-table thead th,
.styled-table thead td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px;
}



